@mixin icon-font-face($font-family, $file-path) {
  font-family: $font-family;
    src: url('#{$linea-font-path}#{$file-path}#{$font-family}.eot');
    src: url('#{$linea-font-path}#{$file-path}#{$font-family}.eot?#iefix') format('embedded-opentype'),
         url('#{$linea-font-path}#{$file-path}#{$font-family}.woff') format('woff'),
         url('#{$linea-font-path}#{$file-path}#{$font-family}.ttf') format('truetype'),
         url('#{$linea-font-path}#{$file-path}#{$font-family}.svg##{$font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin ico-font-base {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
