
*, *::before, *::after { margin: 0; padding: 0; box-sizing: inherit; font-weight: inherit !important; }

html { font-size: 62.5%; overflow-x: hidden; }

body { font-family: Montserrat, sans-serif; box-sizing: border-box; font-weight: 400 !important; }

a{ text-decoration: none !important; }

.h1-heading{ font-size: 6rem; font-weight: 600 !important; font-family: Montserrat; }
.link{ @include button(1.4rem, 2.2rem, 4.3rem); }
.text-link{ font-weight: 600 !important; font-size: 1.4rem; text-transform: uppercase; @include textHover($text-color-dark);
  &.dark{ color: #747285; }
}
.h2-heading{ font-weight: 600 !important; font-size: 6rem; color: $bg-color-1; line-height: 8rem;}
.paragraph{ color: $paragraph-color;
  &.big{ font-size: 1.8rem; line-height: 3.4rem; }
  &.small{ font-size: 1.4rem; line-height: 3rem; }
}
.h3-heading{ font-weight: 500 !important; font-size: 2rem; line-height: 3rem;
  &.dark{ color: $bg-color-1; }
}
.h4-heading{ font-weight: 500 !important; font-size: 4rem; }
.light{ color: $white-color; }

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {

    padding-right: 0;
    padding-left: 0;

    @media (min-width: 991.98px) {
      &:not(:first-child):not(:last-child) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }

      &:first-child {
        padding-right: 1.5rem;
      }

      &:last-child {
        padding-left: 1.5rem;
      }
    }

  }
}
