/********************
preloader
********************/
.preloader{position: fixed; top: 0; width: 100vw; height: 100vh; z-index: 200; @include animateIt; transition-delay: 1s;
  background-color: #1f1e2c; z-index: 999;
  &__svg{@include absoluteCenter;
    &-path:nth-child(1) {
    stroke-dasharray: 155.26px;
    stroke-dashoffset: 155.26px;
    @include line-anim-mixin(1,155.26px);
    animation: line-anim-1 3s ease forwards infinite;
    }
    &-path:nth-child(2) {
    stroke-dasharray: 240.69px;
    stroke-dashoffset: 240.69px;
    @include line-anim-mixin(2,240.69px);
    animation: line-anim-2 3s ease forwards infinite;
    }
    &-path:nth-child(3) {
    stroke-dasharray: 222.78px;
    stroke-dashoffset: 222.78px;
    @include line-anim-mixin(3,222.78px);
    animation: line-anim-3 3s ease forwards infinite;
    }
    &-path:nth-child(4) {
    stroke-dasharray: 252.96px;
    stroke-dashoffset: 252.96px;
    @include line-anim-mixin(4,252.96px);
    animation: line-anim-4 3s ease forwards infinite;
    }
    &-path:nth-child(5) {
    stroke-dasharray: 110.33px;
    stroke-dashoffset: 110.33px;
    @include line-anim-mixin(5,110.33px);
    animation: line-anim-5 3s ease forwards infinite;
    }
    &-path:nth-child(6) {
    stroke-dasharray: 251.91px;
    stroke-dashoffset: 251.91px;
    @include line-anim-mixin(6,251.91px);
    animation: line-anim-6 3s ease forwards infinite;
    }
    &-path:nth-child(7) {
    stroke-dasharray: 233.91px;
    stroke-dashoffset: 233.91px;
    @include line-anim-mixin(7,233.91px);
    animation: line-anim-7 3s ease forwards infinite;
    }
  }
}
body.loaded .preloader{ transform: translateY(-100%);  }

/********************
header
********************/
.header{ position: absolute; top: 0; z-index: 100; background-color: transparent; padding: 3.6rem 0 5rem 0; width: 100%;
  &__wrapper{ display: flex;  padding: 0 4.4rem; align-items: flex-end; justify-content: space-between; width: 100%; }
  &__nav{
    ul{ display: inline-block; margin-bottom: 0;}
    li{ list-style: none; display: inline-block;
      a{ font-size: 1.4rem; color: white; text-transform: uppercase; padding: 0 $header-nav-padding; font-weight: 500 !important; @media (min-width: 991.98px) {@include textHoverLine(white, $header-nav-padding);
      }}
    }
    &-primary{ margin-right: 5.9rem; }
    span { display: none; position: absolute; top: 2%; right: 5%; font-size: 3rem; color: white; font-weight: 900 !important; cursor: pointer; }
    @media (min-width: 991.98px) and (max-width: 1126px) {
        margin-left: 0;
        li{
          a{ padding: 0 $header-nav-padding/2; }
        }
    }
   }
  &__bars{ width: 5rem; justify-content: flex-end; display: none; @include floatfix; @include animateIt; cursor: pointer; padding: 1rem; border: 1px solid transparent;
    &:hover{ border: 1px solid white; }
    &-bar{  height: .2rem; display: block; background-color: white; margin: .3rem 0; float: right;
      &-1{width: 100%;}
      &-2{width: 70%;}
      &-3{width: 40%;}
    }
  }
}

@media (max-width: 991.98px) {
.header{
  &__wrapper{ justify-content: space-between; }
  &__nav{ height: 100vh; width: 100%; position: absolute; top: 0; right: 100%; 
    background-color: $bg-color-1; @include animateIt; padding-top: 10%;
    ul{ display: block; width: 100%; }
    li{display: block; width: 100%; @include animateIt;
      a{ font-size: 2rem; padding: 2.1rem 4.4rem; display: block; width: 100%; @include animateIt; }
      &:hover{ background-color: white;
        a{ color: $bg-color-1; }
      }
    }
    span{ display: block; }
    &-primary{ margin-left: 0; }
    &-secondary{float: none;}
  }
  &__bars{ display: block; }
}
}

.hero { width: 100%; height: 100vh; background: url("../images/hero-bg.jpg") no-repeat; background-size: cover; background-attachment: fixed; position: relative;
  &__wrapper{ text-align: center; @include absoluteCenter;
    .h1-heading{ line-height: 8rem;
      span{ position: relative; &::after{ content: ""; position: absolute; display: block; width: 100%; height: .3rem; bottom: -.2rem; left: 50%;
            transform: translateX(-50%); background-color: $white-color; } }
    }
    .link{ margin-top: 12.2rem; }
  }
  @media (max-width: 991.98px) {
    &__wrapper{ width: 100%;
      .h1-heading{ font-size: 4rem; line-height: 6rem; }
    }
    .link{ margin-top: 6rem; }
  }

}

.work{ background-color: $bg-color-1; padding-bottom: 15rem; text-align: center;
  &__wrapper{ @include animateIt(.5s); display: flex; flex-wrap: wrap; overflow: hidden; }
  &__single{ width: 50%; display: inline-block;
    img{ width: 100%; }
  }
  &__anim{ opacity: 0; animation: fadeInUp 1s ease; animation-fill-mode: forwards; }
  .text-link{ margin: 0 auto; opacity: 0; @include animateIt;
    &.hidden{ animation: fadeOutDown .5s ease; animation-fill-mode: forwards; }
  }

  @media (max-width: 991.98px) {
    &__single{ width: 100%; }
  }

}
.work.scrolled{
  .work__wrapper{ transform: translateY(-14.4rem); }
  .text-link{ opacity: 1; }
}
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{
  cursor:-moz-pointer; cursor:-webkit-pointer; cursor: pointer;
}
.mfp-title{ font-size: 3rem; letter-spacing: -.2px; color: white; }
.mfp-bottom-bar{ margin-top: -2.6rem; }
.mfp-arrow-right:after, .mfp-arrow:after{ border: none; opacity: 1; }
.mfp-arrow-right:before, .mfp-arrow:before{ border: none; opacity: 1; }
.mfp-arrow{ font-weight: 900 !important; color: orange; font-size: 3rem; 
  &::before{ @include absoluteCenter; margin: 0; width: initial; height: initial; }
}

.services{ padding: 25rem 0; text-align: center;
  .h2-heading{ width: 55%; margin: 0 auto; }
  &__wrapper{ display: flex; flex-wrap: wrap; margin-top: 8.8rem;
    a{ width: 23.88%; }
  }
  &__service{  padding: 3rem 4rem; @include animateIt(.5s);
    i{ font-size: 8rem; -webkit-background-clip: text; color: transparent; display: inline-block;
      background-image: -moz-linear-gradient(to right, rgba(70,30,180,1) 0%, rgba(112,17,255,1) 50%, rgba(178,53,255,1) 100%);
      background-image: -webkit-linear-gradient(to right, rgba(70,30,180,1) 0%, rgba(112,17,255,1) 50%, rgba(178,53,255,1) 100%);
      background-image: -o-linear-gradient(to right, rgba(70,30,180,1) 0%, rgba(112,17,255,1) 50%, rgba(178,53,255,1) 100%);
      background-image: -ms-linear-gradient(to right, rgba(70,30,180,1) 0%, rgba(112,17,255,1) 50%, rgba(178,53,255,1) 100%);
      background-image: linear-gradient(to right, rgba(70,30,180,1) 0%, rgba(112,17,255,1) 50%, rgba(178,53,255,1) 100%); }
    .h3-heading{ margin: 6.7rem 0 3.5rem 0; }

    &:hover{ -webkit-box-shadow: 0px 20px 14px 10px rgba(237,224,255,1);
-moz-box-shadow: 0px 20px 14px 10px rgba(237,224,255,1);
box-shadow: 0px 20px 14px 10px rgba(237,224,255,1); }

  }

  @media (max-width: 1199.98px)  {
    &__wrapper{ 
      a{ width: 50%; 
        &:nth-child(n+3){ margin-top: 5rem; }
      }
    }
  }
  @media (max-width: 991.98px) {
    .h2-heading{ width: 80%; font-size: 5rem; line-height: 7rem; }
  }
  @media (max-width: 769.98px) {
    .h2-heading{ width: 80%; font-size: 4rem; line-height: 6rem; }
    &__wrapper{ 
      a{ width: 100%; 
        &:nth-child(n+2){ margin-top: 5rem; }
      }
    }
    &__service{ 
      padding: 3rem 8rem;
    }
  }
}

.about{ position: relative;
  .container{ overflow-x: visible; }
  &__img{ width: max-content; position: absolute; left: 0;
    img{ width: 100%;}
  }
  &__info{ margin-top: 10rem; 
    @media (min-width: 1200px){
      transform: translateX(10%);
    }
    .paragraph:nth-of-type(1){ margin-top: 2.3rem; }
    .paragraph:nth-of-type(n+2){ margin-top: 3.2rem; }
  }

  // @media (max-width: 1850px) {
  //   &__img{ left: calc(100vw - 110%); }
  // }

  // @media (max-width: 1600px) {
  //   &__img{ left: calc(100vw - 120%); }
  // }

  // @media (max-width: 1350px) { 
  //   &__img{ left: calc(100vw - 130%); }
  // }

  @media (max-width: 1250px) { 
    // &__img{ left: calc(100vw - 150%); }
    &__info{
      .h2-heading{ font-size: 5rem; line-height: 7rem; }
    }
  }

  @media (max-width: 991.98px) {
    // &__img{ left: -75%; }
    &__img{ position: relative; left: -12%;
      img{ width: 120%; }
    }

  }

  @media (max-width: 767.98px) {
    &__img{ left: -19%; }
  }

  // @media (max-width: 900px) {
  //   &__img{ left: -90%; }
  // }

  // @media (max-width: 850px) {
  //   &__img{ left: -130%; }
  // }

  // @media (max-width: 767.98px) {
  //   &__img{ left: -140%; }
  // }

  @media (max-width: 575.98px) {
    &__img{ left: -6%; }
    &__info{
      .h2-heading{ font-size: 4rem; line-height: 6rem; }
    }
  }

}

.experiences{ position: relative; margin-top: 25.7rem;
  &__wrapper{ position: relative; width: 100%; height: auto; }
  &__info{ color: $white-color; display: flex; flex-direction: column; padding: 5rem 5rem 4.4rem 5rem; position: absolute;
    .h6-heading{ font-size: 2rem; font-weight: 700 !important; align-self: flex-start; }
    .h5-heading{ font-size: 4rem; font-weight: 700 !important; line-height: 6rem; align-self: center; margin: 3.7rem 0 5.9rem 3.2rem; width: 100%; }
    .text-link{ color: $white-color; @include textHover($white-color); align-self: flex-end; }
    &--1{ width: 58.5rem; top: 13.4rem; right: 7rem; z-index: 200; background: url("../images/experience-bg-1.jpg") no-repeat;
          background-size: cover; background-position: center center;}
    &--2{ width: 50rem; top: 84.1rem; background: url("../images/experience-bg-2.jpg") no-repeat;
          background-size: cover; background-position: center center; z-index: 10;
      .h5-heading{ font-size: 3rem; line-height: 4.4rem; width: 80%; margin: 3.7rem 0 5.9rem 0rem; }
    }
  }
  &__img{ position: absolute;
    &--1{ left: 10rem; }
    &--2{ top: 49.4rem; left: 27rem; z-index: 100; }
    &--3{ top: 92.7rem; right: 7rem; }
  }

  @media (max-width: 991.98px) {
    margin-top: 15rem;
    &__info{
      .h5-heading{ font-size: 2.8rem; line-height: 4rem; width: 100%;}
      &--1{ right: 0; top: 25rem; }
      &--2{ top: 95rem; }
    }
    &__img{
      &--1{ left: 0; }
      &--2{ top: 60rem; left: 15rem; }
      &--3{ top: 130rem; }
    }
  }

  @media (max-width: 575.98px) {
    &__info{ width: 100%;
      &--1{ right: auto; left: 0; }
    }
  }

}

.clients{ margin: 59.8rem 0 21rem 0; position: relative;
  &__slider{ text-align: center;
    .swiper-slide{ a:last-child img{ margin-top: 8.3rem; } }
  }

  @media (max-width: 991.98px) {
    margin: 80rem 0 10rem 0;
  }

}

.cta { background: url("../images/cta-bg.jpg") no-repeat; background-size: cover; background-position: center center;
       padding: 15.6rem 0 15.7rem 0;
 &__wrapper{ display: flex; justify-content: space-between; align-items: center;
   &-info{
      .h2-heading{ font-weight: 500 !important; }
     .h4-heading{ margin-top: -.2rem; color: #d1a9ff; }
  }
 }

 @media (max-width: 991.98px) {
  padding: 10rem 0 10rem 0;
  &__wrapper{ flex-direction: column; text-align: center; 
    &-button{ margin-top: 5rem; }
  }
 }

}

.footer{  padding: 22rem 0; background-color: $bg-color-1; color: $text-color-dark;
  &__wrapper{ width: 100%; display: flex; align-items: center; justify-content: space-between;
    &-copyright{
      .copyright{ font-weight: 700 !important; font-size: 1.4rem; }
    }
    &-social{
      ul{
        li{ list-style: none; display: inline-block;
          a{ font-size: 3rem; color: $text-color-dark; padding: 0 .8rem; @include animateIt;
            &.youtube:hover{ color: #c4302b; }
            &.facebook:hover{ color: #3b5998; }
            &.twitter:hover{ color: #00acee; }
            &.linkedin:hover{ color: #0072b1; }
            &.github:hover{ color: #f4cbb2; }
            &.vimeo:hover{ color: #86c9ef; }
          }
        }
      }
    }
  }
  @media (max-width: 991.98px) {
    &__wrapper{ flex-wrap: wrap; 
      &-copyright{ width: 100%; text-align: center; }
      &-social{ margin: 1rem auto 0 auto; }
    }
  }
}
