@mixin animateIt($duration: .25s){
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}


@mixin button($fontsize, $verticalPadding, $horizontalPadding){
  display: inline-block;
  font-size: $fontsize;
  font-weight: 700 !important;
  padding: $verticalPadding $horizontalPadding;
  color: $main-color;
  border-radius: 1rem;
  text-transform: uppercase;
  border: 2px solid $white-color;
  background-color: $white-color;
  @include animateIt;
  &:hover{
    // background-color: transparent;
    // border: 2px solid $white-color;
    // color: $white-color;
    color: $main-color;
    transform: translateY(-.5rem);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  }

}

@mixin absoluteCenter{
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%,-50%);
}

@mixin floatfix{
  &::after{
    display: table;
    clear: both;
  }
}

@mixin textHover($bgcolor){
  position: relative;
  &::before{
    content: "";
    display: block;
    width: 0;
    height: .15rem;
    background-color: $bgcolor;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%, 0);
    transform: translate(-50%, 0);
    @include animateIt;
  }
  &:hover::before{
    width: 100%;
  }
}

@mixin textHoverLine($bgcolor, $padding){
  position: relative;
  &::before{
    content: "";
    display: block;
    width: 0;
    height: .15rem;
    background-color: $bgcolor;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%, 0);
    transform: translate(-50%, 0);
    @include animateIt;
  }
  &:hover::before{
    width: calc(100% - #{$padding*2});
  }
}

@mixin line-anim-mixin($path-number, $offset){
  @keyframes line-anim-#{$path-number} {
    0% { stroke-dashoffset: $offset; }
    50% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: $offset; }
  }
}