$bg-color-1: #1f1e2c;
$color-gray: #676767;
$white-color: white;
$text-color-dark: #747285;

$color-primary-dark: #5d4c47;

$header-nav-padding: 2.1rem;

$paragraph-color: #676575;
$main-color: #7626fb;
